.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  width: 50%;
  background-color: black;
  padding: 2rem;
  border-radius: 0;
  box-sizing: border-box;
}

.contactHeader {
  margin-top: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%; 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.formField {
  margin-bottom: 1rem;
  width: 100%;
}

.fieldLabel {
  display: block;
  font-size: 1rem;
  font-weight: light;
  color: white;
  margin-bottom: 0.5rem;
}

.textInput {
  width: 250%;
  padding: 0.5rem;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.submitButton {
   margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: none;
  background-color: purple;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
 }
.mapContainer {
  position: relative;
  width: 50%;
  height: 100%;
}
  
.map {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
  
