:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

.countdown * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.countdown {
  position: relative;
}

.countdown .timer-wrapper {
  width: 100vw;
  height: 50px;
  margin: 70 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border: solid 0.4px rgb(10, 5, 5);
  border-radius: 0.1px;
  z-index: 1;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown .card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 100px auto 0;
  z-index: 0;
}

.countdown .card:hover {
  z-index: 1;
}

.countdown .cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countdown .wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.countdown .card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.countdown .wrapper::before,
.countdown .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.countdown .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.countdown .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.countdown .card:hover .wrapper::before,
.countdown .wrapper::after {
  opacity: 1;
}

.countdown .card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
  color: white;
  text-align: center;
  padding-bottom: 20;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.timer-inner {
  background-image: url('https://i.gifer.com/UEsS.gif');
  background-repeat: no-repeat;
  color: #ffffffe8;
  display: flex;
  border: solid 2px #46016831;
  padding: 1rem;
  border-radius: 60px;
  
}
.timer-segment {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divider,
.time {
  font-size: 2rem;
}

.diver {
  padding: 10 10rem;
}

.label {
  font-size: 1.5rem;
}
